* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --min-res: 280px;
  --mobile-res: 320px;
  --tablet-res: 481px;
  --laptop-res: 769px;
  --desktop-res: 1025px;
  --tv-res: 1201px;
  --max-res: 1600px;
  --border-radius-desk: 8px;
  --border-radius-mob: 6px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --primary-glow: #16abff33;
}
